<! DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app was created by Mel. it uses data from mapbox.com and darksky.net!</p>
            <img class="portrait" src="/img/sky.jpg">
        </div>
        {{>footer}}
    </body>
</html>